@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');

*{
    margin: 0;
    padding: 0;
}
.sidebar{
    background-color: red;
    width: 20vw;
    font-family: 'Gabarito', sans-serif;
    height: 100vh;
}

.sidebar nav{
    padding: 15px;
}

.sidebar nav li{
    list-style: none;
    font-size: 30px;
    padding: 36px 0;
}

.main{
    background-color: yellow;
    width: 84vw;
}

.container{
    display: flex;
}